*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/_windows
colors.scheme.xml
debugger.xml
editor.xml
filetypes.xml
find.xml
git_toolbox_2.xml
ide.general.xml
notifications.xml